# .gitignore

# Python
__pycache__/
servier-data-pipeline-mna/src/pharma_graph_pipeline/__pycache__/
servier-data-pipeline-mna/tests/__pycache__/
servier-data-pipeline-mna/src/pharma_graph_pipeline/adhoc/__pycache__/
servier-data-pipeline-mna/src/pharma_graph_pipeline/pipeline/__pycache__/

*.pyc
.pytest_cache/

# Environment
venv/
.env

# IDE files
.vscode/
.idea/

# Data files (if they are large or sensitive)
# For this project, we assume the raw data is part of the repo, but in production, it would be ignored.
# outputs/